<div class="container">

  <div class="row">
    <div class="col-12 titulo">
        ANOTADOR
    </div>
  </div>

  <div class="row" style="padding-top: 50px;padding-bottom: 20px;">
    <div class="col-3" style="font-weight: bold;">
      Jugadores
    </div>
    <div class="col-5">
      <input style="max-width: 150px;" type="text" [(ngModel)]="newJugador" (keyup.enter)="agregarJugador()" >
    </div>
    <div class="col-2" style="padding-left: 30px;">
      <button class="btn btn-primary btn-sm"  (click)=agregarJugador()>
        <span class="fas fa-plus fa-lg" aria-hidden="true"></span>
      </button>
    </div>
    <div class="col-2" style="align-items: left;">
      <button class="btn btn-danger btn-sm"  (click)=resetear()>
        <span class="fas fa-redo fa-lg" aria-hidden="true"></span>
      </button>
    </div>
    
  </div>

  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
            <th style="width: 30%" scope="col">Jugador</th>
            <th style="width: 15%" scope="col">Puntaje</th>
            <th style="width: 10%" scope="col">Puntos</th>                    
            <th style="width: 45%" scope="col">Acciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of jugadores">                     
            <td>{{jugador.nombre}}</td>
            <td>{{jugador.puntos}}</td>
            <td>
                <input style="max-width: 80px;" type="number" [(ngModel)]="jugador.puntosToAdd" (keyup.enter)="calcular(jugador)">
            </td>
            <td>
              <div class="row">
                <button class="btn btn-info btn-sm" (click)="calcular(jugador)" style="margin-right: 10px;">
                  <span class="fas fa-plus fa-lg" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger btn-sm" (click)="eliminarJugador(jugador)">
                  <span class="fas fa-trash fa-lg" aria-hidden="true"></span>
                </button>
              </div>
            </td>
        </tr>                                        
      </tbody>
    </table>  
  </div>
</div>