<div class="container">
  <div class="row" style="padding-top: 50px;padding-bottom: 20px;">
    <div class="col-3">
      Jugadores
    </div>
    <div class="col-5">
      <input type="text" [(ngModel)]="newJugador" (keyup.enter)="agregarJugador()" >
    </div>
    <div class="col-2">
      <button class="btn btn-info btn-sm"  (click)=agregarJugador()>
        Agregar
      </button>
    </div>
    <div class="col-2">
      <button class="btn btn-info btn-sm"  (click)=resetear()>
        Resetear
      </button>
    </div>
    
  </div>

  <div class="row">
    <table class="table table-striped ">
      <thead>
        <tr>
            <th style="width: 30%" scope="col">Jugador</th>
            <th style="width: 15%" scope="col">Puntaje</th>
            <th style="width: 10%" scope="col">Puntos</th>                    
            <th style="width: 45%" scope="col">Acciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jugador of jugadores">                     
            <td>{{jugador.nombre}}</td>
            <td>{{jugador.puntos}}</td>
            <td >
                <input style="max-width: 100px;" type="number" [(ngModel)]="jugador.puntosToAdd" (keyup.enter)="calcular(jugador)">
            </td>
            <td>
                <button class="btn btn-info btn-sm" (click)="calcular(jugador)" style="margin-right: 10px;">Calcular</button>
                <button class="btn btn-info btn-sm" (click)="eliminarJugador(jugador)">Eliminar</button>
            </td>
        </tr>                                        
      </tbody>
    </table>  
  </div>
</div>